.tos{
    background-color: #000000;
    color: #ffffff;
}
@media screen and (max-width: 480px) {
    .tos{
        padding-left: 10px;
        background-color: #000000;
        color: #ffffff;
    }
}
.terms-heading{
    margin-top: 100px;
}
