.home-section{
    background-color: black;
    color: #ffffff;
}
@media screen and (max-width: 768px) {
    .add-img{
        width: 700px;
        height: 100px;
    }     
 }
 @media screen and (max-width: 480px) {
    .add-img{
        width: 300px;
        height: 100px;
    }     
 }


@media screen and (max-width: 480px) {
    .tabs-section{
        width: 10%;
    }    
 }